/***
 * Colors
 **/
 $blue-dark: rgb(23, 124, 186); // #1F77BC
 $blue: rgb(37, 155, 228); // #259BE4 aka "Deputy Blue"
 $blue-light: rgb(96, 182, 235); // #60B6EB
 $blue-lightest: rgb(240, 250, 255); // #F0FAFF
 
 // Secondary
 $green: rgb(7, 158, 136); // #079E88
 $pink: rgb(218, 5, 107); // #DA056B
 
 // Neutrals
 $grey-dark: rgb(9, 49, 73); // #093149
 $grey-medium: rgb(93, 120, 136); // #5D7888
 $grey: rgb(206, 214, 219); // #CED6DB
 $grey-light: $grey;
 $grey-lightest: rgb(243, 245, 246); // #F3F5F6
 $white: rgb(255, 255, 255); // #ffffff